@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-50: #fff;
  --dark-100: #f5f5f5;
  --dark-200: #e5e5e5;
  --dark-300: #d4d4d4;
  --dark-400: #a3a3a3;
  --dark-500: #737373;
  --dark-600: #525252;
  --dark-700: #404040;
  --dark-800: #262626;
  --dark-900: #171717;
  --dark-950: #0a0a0a;
}

.dark {
  --dark-50: #0a0a0a;
  --dark-100: #171717;
  --dark-200: #262626;
  --dark-300: #404040;
  --dark-400: #525252;
  --dark-500: #737373;
  --dark-600: #a3a3a3;
  --dark-700: #d4d4d4;
  --dark-800: #e5e5e5;
  --dark-900: #f5f5f5;
  --dark-950: #fafafa;
}

.app {
  color: var(--dark-950);
}

body {
  color: var(--dark-900);
  background-color: var(--dark-50);
}

::placeholder {
  color: var(--dark-500) !important;
}

/* Dark mode animation css */

.rotate-effect {
  animation: rotate 0.6s forwards;
}

.rotateback-effect {
  animation: backrotate 0.9s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes backrotate {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.darkmode-icon {
  position: absolute;
  transition: opacity 0.6s ease-in-out;
}

@layer components {
  .active {
    @apply text-blue-600;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
